# local, dev, uat, or live
STRAKER_ENVIRONMENT=local

# The base URL of this API
# Leave blank to use the default base URL which depends on the environment
BASE_URL=

# Slack API
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

# Watson Assistant
WATSON_ASSISTANT_ID=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
