# OS
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Environments
.env
.venv
env/
venv/

# IBM cloud credentials
ibm-credentials.env

# Python
*.py[cod]
__pycache__/
.pytest_cache/
.coverage
.coverage.xml
htmlcov/
*.log
