[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://poc-docker-01.straker.io:13009/simple"
verify_ssl = false
name = "pypiserver"

[packages]
python-dotenv = "*"
fastapi = {extras = ["all"], version = ">=0.79.0,<0.80.0"}
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
sentry-sdk = {extras = ["fastapi"], version = "*"}
slack-bolt = "*"
aiohttp = "*"
ibm-watson = "*"
sqlalchemy = "*"
mysqlclient = "*"
httpx = "*"
cryptography = "*"
babel = "*"
ray-sdk = {version = "==0.1.0", index = "pypiserver"}
ray-logger = {version = "==0.1.1", index = "pypiserver"}

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
