[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://mgmt-k8s-pypi-fra02.straker.io/simple"
verify_ssl = false
name = "straker"

[packages]
fastapi = {extras = ["all"], version = "==0.110.*"}
python-dotenv = "==1.*"
pydantic = "==2.*"
pydantic-settings = "*"
slack-bolt = "==1.*"
aiohttp = "*" # Required for slack-bolt async
ibm-watson = "==8.*"
sqlalchemy = "==2.*"
mysql-connector-python = "*"
httpx = "<1.0"
redis = "==5.*"
cryptography = "*"
python-dateutil = "*"
babel = "*"
elastic-apm = "==6.*"
straker-auth = {version = "==0.1.8", index = "straker"}
ray-sdk = {version = "==0.6.3", index = "straker"}
ray-logger = {version = "==0.1.2", index = "straker"}
buglog = {version = "==0.1.3", index = "straker"}
cachetools = "*"
langcodes = "*"
ffmpeg-python = "*"
straker-utils = {version = "==0.3.0.7", index = "straker"}
pypdf2 = "*"
types-python-dateutil = "*"
types-requests = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
coverage = "*"
ruff = "*"
black = "*"
mypy = "*"
openpyxl = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
