[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://mgmt-k8s-pypi-fra02.straker.io/simple"
verify_ssl = false
name = "straker"

[packages]
python-dotenv = "*"
fastapi = {extras = ["all"], version = ">=0.99.0,<0.100.0"}
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "==1.*"
elastic-apm = "*"
slack-bolt = "*"
aiohttp = "*"
ibm-watson = "*"
# Use sqlalchemy 2 after slack-bolt supports it
sqlalchemy = "~=1.4"
mysql-connector-python = "*"
httpx = "*"
redis = "*"
cryptography = "*"
python-dateutil = "*"
babel = "*"
straker-utils = {version = "==0.1.18", index = "straker"}
ray-sdk = {version = "==0.4.6", index = "straker"}
ray-logger = {version = "==0.1.2", index = "straker"}
straker-auth = {version = "==0.1.6", index = "straker"}
buglog = {version = "==0.1.3", index = "straker"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
coverage = "*"
flake8 = "*"
flake8-bugbear = "*"
black = "*"

[requires]
python_version = "3.11"
