version: '3.3'
services:
  int-slack-ray-translator:  
    build: 
      dockerfile: local.Dockerfile
      context: ../
    ports:
      - "8888:80" # Change this the first port here to something you can use locally. 
    volumes:
      - /mnt/data/straker/git-repos/code/slack-ray-translator/app:/code/app
      - /mnt/data/straker/git-repos/code/slack-ray-translator/.env:/code/.env
      - /mnt/data/straker/git-repos/code/slack-ray-translator/ibm-credentials.env:/code/ibm-credentials.env
        # Change these first paths to where your code, and env files are stored. 